@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nuosu SIL', serif;
    background-color: #8aaae5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    position: relative;
}

h1 button {
    position: absolute;
    right: 0;
    transform: translate(120%, -50%);
    z-index: 2;
}

.btn {
    cursor: pointer;
    background-color: #fbeaeb;
    border: 3px #407ceb solid;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 15px;
}

.btn-small {
    font-size: 12px;
    padding: 5px 10px;
}

.btn-ghost {
    border: 0;
    background-color: transparent;
}